
// adding opacity to the navbar border bottom 
header.border-bottom.border-white{
    border-color: rgba(255,255,255,0.2) !important;
}


// link hard underline
a.underline-hard{
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 3px solid $primary;

    &:hover,
    &:active, 
    &:focus{
        padding-bottom: 2px;
        border-bottom: 6px solid $primary;
    }

    &.text-dark{
        border-color: $gray-900;

        &:hover,
        &:active,
        &:focus{
            border-color: $gray-900;
        }
    }
}


// animations utilities
.animate-2{
    transition: all .2s ease-in-out;
}

.animate-4{
    transition: all .4s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .animate-2,
    .animate-4 {
        animation: none;
    }
}

.scale-1{
    transform: scale(1.1);
}


// background-color utilities
.bg-dark-alt{
    background-color: $gray-900-alt !important;
}


// button-white added in components
.btn-white {
    @include button-variant($white, $white);
}

.btn-black {
    @include button-variant($black, $black);
}

// Image fixed height for brand list
.img-brand-list{
    width: auto;
    height: 27px;
}


// Feather icons sizes utilities
.feather-12{
    width: 12px;
    height: 12px;
}

.feather-14{
    width: 14px;
    height: 14px;
}

.feather-16{
    width: 16px;
    height: 16px;
}

.feather-18{
    width: 18px;
    height: 18px;
}

.feather-24{
    width: 24px;
    height: 24px;
}

// badge utilities
.badge-section{
    font-size: .8rem !important;
    color: $white;
}


// spacing utilities
.py-section{
    margin-top: $spacer-section;
    margin-bottom: $spacer-section;
}

.pt-section{
    margin-top: $spacer-section;
}

.pb-section{
    margin-bottom: $spacer-section;
}


// border-radius utilities
.rounded-xl-br{
    border-bottom-right-radius: $border-radius-xl !important;
}

.rounded-xl-cta{
    border-bottom-left-radius: $border-radius-xl !important;
    border-top-right-radius: $border-radius-xl !important;
}

.rounded-xs{
    border-radius: .4rem;
}

// font-size utilities
.text-sm{
    font-size: .9em;
}

.text-xs{
    font-size: .8em;
}

.text-xxs{
    font-size: .7em;
}

.text-medium{
    font-weight: 600;
}

.maxwidth-sm{
    max-width: 320px;
}

.bg-dark .text-muted,
.bg-dark-alt .text-muted{
    color: $gray-300 !important;
}

// Frontpage components
.header-frontpage{
    padding-bottom: $diagonal-height;

    & > svg{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $diagonal-svg-height;
    }
}

.card-frontpage{
    font-size: 1rem;

    .btn-outline-dark{
        border-width: 2px;
        font-size: .8em;
        border-color: $gray-200;
    }
}

.bank-card{
    background-color: $gray-900-alt;
    color: $white;

    &-label{
        display: block;
        text-transform: uppercase;
        font-size: 11px;
    }

    .d-flex > div{
        width: 50%;
    }
}

.payment-list{
    .payment-list-item{
        border-bottom: 1px solid $gray-200;
    }

    .payment-list-more a{
        border-bottom: 1px dashed $primary;

        &:hover,
        &:active,
        &:focus{
            text-decoration: none;
        }
    }
}

.card-counters{
    margin-top: 120px;
    max-width: 80%;
    position: unset; // remove relative to place picture in parent box

    .card-counters-picture{
        height: 280px;
        right: 2rem;
        top: 0;
        width: 351px;
    }
}

.btn-play{
    left: 2rem;
    top: 1rem;

    &:before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
    }

    &.btn-play-right{
        left: unset;
        right: 1rem;
    }
}

.separator-dashed{
    top: ($spacer-section - ($spacer-section / 10)) * -1;
    left: ($spacer-section - ($spacer-section / 10)) * -1;
    z-index: -1;

    &.separator-dashed-invert{
        transform: scaleX(-1);
        left: unset;
        right: -108px;
    }

    .row.p-5 &{
        top: ($spacer-section + ($spacer * 3) - ($spacer-section / 10)) * -1;
    }
}

.list-avatar{
    li{
        margin-left: -0.5rem;
    }
    li:first-child{
        margin-left: 0;
    }
    img{
        border: 2px solid $white;
    }
}

.hr-gradient{
    background: $gray-200;
    background: linear-gradient(90deg, $white 0%, $gray-200 50%, $white 100%);
    border-top: 0 !important;
    height: 1px;
}

.hr-gradient-dark-alt{
    background: $gray-800;
    background: linear-gradient(90deg, $gray-900-alt 0%, $gray-800 50%, $gray-900-alt 100%);
    border-top: 0 !important;
    height: 1px;
}

#section-awards{
    position: relative;
    overflow: hidden;
}

.carousel-awards{
    position: relative;

    .carousel-element{
        position: relative;
        min-width: 260px;
        z-index: 1;

        a:before{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            content: '';
        }
    }

    .carousel-element:nth-child(odd){
        margin-top: ($spacer * 5);
    }
}

#section-awards{
    padding-bottom: $diagonal-height;

    & > svg{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $diagonal-svg-height;
    }
}

.faq-list .btn-white{
    &:hover,
    &:focus,
    &:active{
        background-color: $white;
        border-color: $white;
        color: $primary;
    }
}

.site-footer{
    padding-top: $diagonal-height;

    & > svg{
        position: absolute;
        top: 0;
        width: 100%;
        height: $diagonal-svg-height;
    }
}