// Color system
$white: #fff;
$gray-100: #F8FCFF;
$gray-200: #E8EDF4;
$gray-300: #aab3c0;
$gray-600: #708096;
$gray-800: #142C5C;
$gray-900: #151449;
$gray-900-alt: #1D1347; // used for the bank card background
$black: #000;

$blue: #028aff;
$cyan: #5BCAA7;

$dark: $gray-800;


// Body
$body-color:                $gray-800;
$diagonal-height:           4.5vw;
$diagonal-svg-height:       5vw;

// spacing
$spacer: 1rem;
$spacer-section: ($spacer * 5) * 1.5;


// Typography

$font-family-sans-serif:      'Nunito Sans', sans-serif;
$font-family-base:            $font-family-sans-serif;

$font-size-base:              1.125rem;

$headings-line-height:        1.4;
$headings-font-weight:        600;


// Navbar

$navbar-padding-x:                  0;

$navbar-nav-link-padding-x:         .8rem;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $white;
$navbar-dark-active-color:          $white;


// Components

$border-radius:               .5rem;
$border-radius-lg:            1rem;
$border-radius-sm:            .25rem;
$border-radius-xl:            5rem;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .05);
$box-shadow:                  0 .25rem .75rem rgba($black, .05);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);


// Buttons (need update if form needed)

$btn-padding-y:               15px;
$btn-padding-x:               30px;


// Cards

$card-border-color:                 $gray-200;


// Progress bars

$progress-height:                   .25rem;